<div class="team-member-item d-flex align-items-center">
  <%= user_avatar(member.avatar) %>
  <span class="team-member-item__name">
    <%= member.name %>
  </span>
  <div class="team-member-item__tail">
    <span class="team-member-role">
      <%= translate_team_member_roles(member.roles) %>
    </span>
  </div>
</div>
