<% if item.criteria.any? %>
  <div class="ac-list ac-list--small">
    <% item.criteria.each do |criterion| %>
      <%= render partial: 'acceptance_criteria/item', locals: { issue_id: item.id, criterion: criterion, editable: false } %>
    <% end %>
  </div>
<% else %>
  <span class="text-muted text-sm nf">
    <%=t '.empty' %>
  </span>
<% end %>
