<% if criteria.any? %>
  <div class="pbi__ac-list">
    <%= render partial: 'acceptance_criteria/item', collection: criteria, locals: { can_update: can_update } %>
  </div>
<% else %>
  <span class="text-muted text-sm nf">
    <%=t '.empty' %>
  </span>
<% end %>
