<div id="<%= task_dom_id(task, 'js-task-edit-form') %>" class="sbi-task__form">
  <%= form_with model: form || build_task_form(task), scope: :form, url: sbi_task_path(global_task_params(task)), method: :patch do |f| %>
    <div class="d-flex">
      <%= f.text_field :content, class: 'form-control', autocomplete: 'off' %>
      <button class="ml-1 btn btn-success btn-lean btn-combined">
        <i class="fa fa-check"></i>
      </button>
    </div>
  <% end %>
</div>
