<div class="sbi-issue__container" test-sbi-<%= issue.id %>="1">
  <div class="sbi-issue__main">
    <%= simple_format(issue.description, class: 'sbi-issue__content') %>
    <% if show_ac %>
      <ul class="sbi-issue__ac-list">
        <% issue.criteria.each do |c| %>
          <li class="sbi-issue__ac-item">
            <%= c.content %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="sbi-issue__actions">
    <%= render partial: 'item_menu', locals: { item: issue } %>
  </div>
</div>
