<div class="dropdown">
  <%= link_to '#', dd_trigger_options(id: "dd-sbi-issue-#{}", class: 'sbi-issue__menu') do %>
    <i class="fas fa-ellipsis-h"></i>
  <% end -%>
  <div class="dropdown-menu dropdown-menu-right">
    <%= link_to '', class: 'dropdown-item', data: { "test_cancel_sprint_assign_#{}" => 1 } do %>
      <i class="fas fa-reply"></i>
      <%=t 'domain.issue.cancel_sprint_assign' %>
    <% end %>
  </div>
</div>
