<% can_revert = authorize(:revert_pbi_from_sprint, current_team_member_roles, pbi.status) %>
<% can_accept = true || authorize_any(item.acceptance_activities, current_team_member_roles, item.status) %>
<div class="dropdown">
  <%= link_to '#', dd_trigger_options(id: "sbi-menu-#{pbi.id}", class: 'context-menu') do %>
    <i class="fas fa-ellipsis-h"></i>
  <% end -%>
  <div class="dropdown-menu dropdown-menu-right">
    <%= link_to product_sbi_path(product_id: current_product.id, id: pbi.id), method: :delete, class: dropdown_item_classes { can_revert }, data: { 'test_revert_item' => can_revert } do %>
      <i class="fas fa-reply"></i>
      <%=t 'domain.pbi.cancel_sprint_assign' %>
    <% end %>
    <%#= link_to pbi_acceptance_path(pbi_id: pbi.id), class: dropdown_item_classes { can_accept }, data: { "test_accept_pbi" => can_accept } do %>
      <i class="fas fa-user-check"></i>
      <%#=t 'domain.pbi.acceptance' %>
    <%# end %>
  </div>
</div>
