<% if items.any? %>
  <div class="sbl-list">
    <%= render partial: 'item', collection: items %>
  </div>
<% else %>
  <p class="text-muted text-center my-3">
    <%=t '.empty' %>
  </p>
<% end %>
<div class="mt-3">
  <button class="btn btn-outline-success">
    <%=t 'domain.sprint.finish' %>
  </button>
</div>
