<% if items.any? %>
  <% can_update = authorize(:update_sprint_issues, current_team_member_roles) %>
  <%= content_tag :div, class: 'sbl-list', data: sbl_sortable_options(current_product.id, can_update) do %>
    <%= render partial: 'item', collection: items, locals: { can_move: can_update } %>
  <% end %>
<% else %>
  <p class="text-muted text-center my-3">
    <%=t '.empty' %>
  </p>
<% end %>
<div class="mt-3">
  <button class="btn btn-outline-success">
    <%=t 'domain.sprint.finish' %>
  </button>
</div>
