<% if items.any? %>
  <%= content_tag :div, class: 'sbl-list', data: sbl_sortable_options(current_product.id) do %>
    <%= render partial: 'item', collection: items %>
  <% end %>
<% else %>
  <p class="text-muted text-center my-3">
    <%=t '.empty' %>
  </p>
<% end %>
<div class="mt-3">
  <button class="btn btn-outline-success">
    <%=t 'domain.sprint.finish' %>
  </button>
</div>
