<div class="sbi-task__form">
  <form>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="<%=t '.placeholder' %>">
      <div class="input-group-append">
        <button class="btn btn-success btn-lean">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>
  </form>
</div>
