<% if member %>
  <div class="team-member-item d-flex align-items-center">
    <span class="avatar" <%= avatar_style(member.avatar_bg, member.avatar_fg) %>>
      <%= member.initials %>
    </span>
    <span class="team-member-item__name">
      <%= member.name %>
    </span>
    <div class="team-member-item__tail">
      <span class="team-member-role">
        <%=t member.role, scope: 'domain.team.role_short' %>
      </span>
    </div>
  </div>
<% end %>
