<% po = team.product_owner %>
<% devs = team.developers %>
<% sm = team.scrum_master %>
<label class="mb-3">
  <%=t '.title' %>
</label>
<%= render partial: 'item', locals: { member: po } %>
<% devs.each do |dev| %>
  <%= render partial: 'item', locals: { member: dev } %>
<% end %>
<%= render partial: 'item', locals: { member: sm } %>
