<div data-controller="inline-edit" class="pbi__ac-list-item">
  <div data-target="inline-edit.showSection" class="pbi-ac-item">
    <p class="pbi-ac-item__content">
      <%= item.content %>
    </p>
    <% if can_update %>
      <div class="pbi-ac-item__actions">
        <%= render partial: 'acceptance_criteria/item_menu', locals: { item: item } %>
      </div>
    <% end %>
  </div>
  <div data-target="inline-edit.editSection" class="pbi-ac-item__edit">
    <%= render partial: 'acceptance_criteria/edit_form', locals: { form: build_criterion_form(item), criterion: item } %>
  </div>
</div>
