<div class="ac-list__item">
  <p>
    <%= criterion.content %>
  </p>
  <% if editable %>
    <%= link_to '#', class: 'silent-danger ml-3' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  <% end %>
</div>
