<div class="pbi-ac__item">
  <p class="pbi-ac-item__content">
    <%= item.content %>
  </p>
  <div class="pbi-ac-item__actions">
    <%= render partial: 'acceptance_criteria/item_menu', locals: { item: item } %>
  </div>
</div>
