<label>
  <%= t '.title' %>
</label>
<div class="ac-list">
  <div class="ac-list__item">
    <p>
      Googleアカウントでログインできること
    </p>
    <%= link_to '#', class: 'silent-danger ml-3' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
  <div class="ac-list__item">
    <p>
      ログイン後の画面に名前が表示されていること
    </p>
    <%= link_to '#', class: 'silent-danger ml-3' do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
</div>
