<div class="pbl__filters">
  <div class="btn-group" role="group">
    <a href="#" class="btn btn-outline-secondary pbl__filter">
      すべて
    </a>
    <a href="#" class="btn btn-outline-secondary pbl__filter">
      <i class="fas fa-square pbl__status--draft"></i>
      下書き
    </a>
    <a href="#" class="btn btn-outline-secondary pbl__filter">
      <i class="fas fa-square pbl__status--preparation"></i>
      準備中
    </a>
    <a href="#" class="btn btn-outline-secondary pbl__filter">
      <i class="fas fa-square pbl__status--ready"></i>
      準備完了
    </a>
    <a href="#" class="btn btn-outline-secondary pbl__filter">
      <i class="fas fa-square pbl__status--wip"></i>
      着手中
    </a>
  </div>
</div>
