<%= link_to '#', class: 'pbi' do %>
  <span class="pbi__grip">
    <i class="fas fa-grip-vertical"></i>
  </span>
  <span class="pbi__content">
    <%= simple_format(item.content) %>
  </span>
  <div class="pbi__point">
    3
  </div>
<% end -%>
