<%= content_tag :div, id: "release#{release_counter}", class: 'pbl__list', data: sortable_pbl_options(product_id, release_counter) do %>
  <%= render partial: 'item', collection: release.items %>
<% end %>
<p>
  <%= release.title %>
</p>
