<div class="row d-flex justify-content-center">
  <div class="col-lg-8 sheet">
    <div class="d-flex justify-content-center">
      <h5>
        <%=t '.title' %>
      </h3>
    </div>
    <div class="pbl">
      <%= render partial: 'item', collection: @items %>
    </div>
  </div>
</div>
