$border-radius: .35rem;
$input-btn-padding-y: 0.3rem;
$input-btn-padding-x: 1.2rem;
$input-btn-font-size: .875rem;
$input-btn-focus-width: 0.1rem;
$label-margin-bottom: 0.3rem;
$input-padding-x: 0.6rem;
$custom-select-padding-x: 1rem;
$blue: #3580A5;
$green: #4B8105;
$red: #EE443B;
$black: #33333A;
$dropdown-item-padding-x: 1rem;
$dropdown-item-padding-y: 0.3rem;
$pagination-padding-y: 0.3rem;
$pagination-padding-x: 1rem;
$secondary: #686963;
$body-color: $black;
$body-bg: #F8F8F2;
