$font-family-sans-serif: 'Rounded Mplus 1c', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-normal: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$border-radius: .35rem;
$border-radius-sm: .35rem;
$input-font-size: 1rem;
$input-btn-padding-y: 0.3rem;
$input-btn-padding-x: 1.2rem;
$input-btn-font-size: .75rem;
$label-margin-bottom: 0.3rem;
$input-padding-x: 0.6rem;
$input-font-family: $font-family-normal;
$custom-select-padding-x: 1rem;
$blue: #3580A5;
$green: #27B611;
$red: #D63D35;
$black: #33333A;
$dropdown-item-padding-x: 1rem;
$dropdown-item-padding-y: 0.3rem;
$pagination-padding-y: 0.3rem;
$pagination-padding-x: 1rem;
$secondary: #827f78;
$body-color: $black;
$body-bg: #F8F8F2;
$dropdown-link-active-bg: #eee;
