.navbar {
  padding: 5px 20px;
  background-color: rgba(248,248,242, .7);
}

.navbar-brand {
  color: #8D8E8F !important;
  font-weight: 900;
  margin-right: 0;
}

.gnav__product-name {
  @include nf;
  font-size: 1rem;
  padding: .125rem 1.5rem;
  color: $white;
  background-color: $gray-700;
  border-radius: .5rem;
}

.gnav__toggle {
  @include nf;
  color: $secondary;

  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}

.gnav__head {
  width: 120px;
}

.gnav__tail {
  width: 120px;
}

.gnav-tail__child:first-child {
  margin-left: auto;
}

.page-title {
  font-size: 1.25rem;
  font-weight: bold;
}
