.navbar {
  padding: 5px 20px;
}

.navbar-brand {
  color: #8D8E8F !important;
  font-weight: 900;
  margin-right: 0;
}

.gnav__product-name {
  @include nf;
  font-size: 1rem;
  padding: .3rem 1rem .3rem 1.25rem;
  color: $white;
  background-color: $secondary;
  border-radius: .5rem;

  &:hover {
    color: $white;
    text-decoration: none;
  }
}

.gnav__toggle {
  @include nf;
  color: $secondary;

  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}

.gnav__head {
  width: 150px;
}

.gnav__tail {
  width: 150px;
}

.gnav-tail__child:first-child {
  margin-left: auto;
}
