.pl-item {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.pl-item__head {
  flex-grow: 1;
  margin-right: 1rem;
}

.pl-item__title {
  display: flex;
  justify-content: space-between;
}

.pl-item__name {
  @include nf;
  font-size: 1.25rem;
  font-weight: bold;
}

.pl-item__desc {
  @include nf;
  color: $gray-600;
  font-size: .875rem;
  margin-bottom: 0;
}

.pl-item__tail {
  margin-left: auto;
  padding-left: 1rem;
  border-left: 1px solid $gray-200;
}

.pl-link {
  display: flex;
  align-items: center;
}

.pl-link__icon {
  width: 30px;
  color: $link-color;
}
