.pbl {
  border-top: 1px solid $gray-300;
  background-color: #fff;
}

.pbl__form {
  background-color: $gray-100;
  margin-top: 1rem;
  padding: .75rem 1rem;
  border: 1px solid $gray-200;
  border-radius: $border-radius;
}

.pbl-item {
  display: flex;
  align-items: center;

  padding: .75rem 1rem;
  border-bottom: 1px solid $gray-300;

  color: $body-color;

  &:hover {
    color: $body-color;
    background-color: $gray-100;
    text-decoration: none;
  }
}

.pbl-item__grip {
  margin-right: .75rem;
  color: $gray-500;
}

.pbl-item__content-outer {
  &:hover {
    cursor: pointer;
  }
}

.pbl-item__content {
  margin-bottom: 0;
  line-height: 1.2rem;
}

.pbl-item__point-outer {
  margin-left: auto;
}

.pbl-item__point {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: auto;

  width: 1.5rem;
  height: 1.5rem;

  color: $white;
  background-color: $cyan;
  border-radius: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.pbi-detail__ac-list {
  li {
    font-size: .875rem;
  }
}
