.pbl__status-legend {
  margin-top: 2px;
  display: inline-flex;
  padding: .125rem .75rem;
  border: 1px solid $gray-200;
  border-radius: $border-radius;
}

.pbl-status-legend__item {
  @include nf;
  font-size: .675rem;
  padding-right: .5rem;

  &:last-child {
    padding-right: 0;
  }
}

.pbl__list {
  border-top: 1px solid $gray-300;
  background-color: #fff;
}

.pbl__release {
  @include nf;
  background-color: $gray-100;
  padding: .5rem 1rem;
  font-size: .875rem;

  &:first-child {
    border-top: 1px solid $gray-300;
  }
}

.pbl-release__title {
  font-weight: bold;
}

.pbl__form {
  margin: 1.5rem 3rem 0;
}

.pbl-item-outer {
  padding: .5rem 1rem;
  background-color: $white;
  border-bottom: 1px solid $gray-300;
}

.pbl-item-outer--preparation {
  border-left: 3px solid $pbi-status-color-preparation;
}

.pbl-item-outer--ready {
  border-left: 3px solid $pbi-status-color-ready;
}

.pbl-item-outer--todo {
  border-left: 3px solid $pbi-status-color-todo;
}

.pbl-item {
  display: flex;
  align-items: center;
}

.pbl-item__grip {
  margin-right: .75rem;
  color: $secondary;

  &:hover {
    cursor: pointer;
  }
}

.pbl-item__grip--disabled {
  margin-right: .75rem;
  color: $gray-200;

  &:hover {
    cursor: not-allowed;
  }
}

.pbl-item__content {
  padding-right: .5rem;
  margin-bottom: 0;
  font-size: .875rem;
  line-height: 1.2rem;
}

.pbl-item__actions {
  display: flex;
  align-items: center;

  margin-left: auto;
}

.pbl-item__ac-trigger {
  color: $secondary;

  &:hover {
    color: $secondary;
  }
}

.pbl-item__point {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 1rem;

  width: 1.5rem;
  height: 1.5rem;

  color: $white;
  background-color: $cyan;
  border-radius: 1rem;

  &:hover {
    cursor: pointer;
  }
}

.pbl-item__menu {
  margin-left: 1rem;
  color: $body-color;

  &:hover {
    color: $body-color;
    text-decoration: none;
  }
}

.pbl-item__ac {
  padding-left: 1.5rem;
}

.ac-list--small {
  p {
    font-size: .75rem;
  }
}

.ac-list__item {
  display: flex;
  align-items: center;

  margin-bottom: .25rem;

  &:last-child {
    margin-bottom: 0;
  }

  p {
    @include nf;
    margin-bottom: 0;

    &:before {
      content: '\02022';
    }
  }
}
