$pbi-status-color-preparation: $gray-300;
$pbi-status-color-ready: darken($green, 5%);
$pbi-status-color-wip: darken($yellow, 5%);
$pbi-status-color-accepted: $purple;

.pbi__status {
  &--preparation { color: $pbi-status-color-preparation; }
  &--ready { color: $pbi-status-color-ready; }
  &--wip { color: $pbi-status-color-wip; }
  &--accepted { color: $pbi-status-color-accepted; }
}

.pbi-edit__status {
  position: absolute;
  right: 3rem;
  color: $body-color;
}

.pbi__status-label {
  @include nf;
  padding: .25rem .75rem;
  font-size: .75rem;
  font-weight: bold;
  border-radius: 1rem;
  border: 1px solid transparent;
  color: $secondary;

  &--preparation {
    border-color: $pbi-status-color-preparation;
    background-color: $gray-100;
  }
  &--ready {
    border-color: $pbi-status-color-ready;
    background-color: $gray-100;
  }
  &--wip {
    border-color: $pbi-status-color-wip;
    background-color: lighten($pbi-status-color-wip, 45%);
  }
}

.pbi__ac-list-item {
  padding: .25rem .125rem;
  border-bottom: 1px solid $gray-300;

  &:last-child {
    border-bottom: none;
  }
}

.pbi-ac-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pbi-ac-item__content {
  @include nf;
  margin-bottom: 0;
  font-size: .875rem;
}

.ac-item__menu {
  color: $body-color;

  &:hover {
    color: $body-color;
    text-decoration: none;
  }
}

.acceptance__criterion {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.acceptance-criterion__trigger {
  @include icon-button;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .25rem;
}

.acceptance-criterion__status {
  font-size: 1.5rem;
  color: $body-color;

  &--satisfied {
    color: $success;
  }
}

.acceptance-criterion__content {
  @include nf;
  font-size: .875rem;
}
