label {
  font-size: .875rem;
  color: $secondary;
  font-weight: bold;
}

.btn:disabled {
  opacity: 1 !important;
}

.field_with_errors {
  @include nf;

  .form-control {
    border-color: theme-color('danger');
  }

  .invalid-feedback {
    display: block;
    color: theme-color('danger') !important;
  }
}

.form-outer {
  background-color: $gray-100;
  padding: .75rem 1rem;
  border: 1px solid $gray-200;
  border-radius: $border-radius;
}

.sheet {
  padding: 1.5rem 3rem 1.5rem;
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 0 10px $gray-200;
}

.avatar {
  width: 2.0rem;
  height: 2.0rem;
  border-radius: 1rem;
}

.action-link {
  font-size: .75rem;
  color: $secondary;
  &:hover {
    color: $secondary;
  }
}

.text-md {
  font-size: .875rem;
}

.text-sm {
  font-size: .75rem;
}

.action-list {
  a {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
