.avatar {
  @include avatar(2.0rem);
}

.avatar-sm {
  @include avatar(1.5rem);
}

.team-member-role {
  margin-right: .5rem;
  padding: 0 .5rem;
  font-size: .75rem;
  color: $gray-100;
  background-color: $gray-700;
  border-radius: .65rem;
}

.action-link {
  font-size: .75rem;
  color: $secondary;
  &:hover {
    color: $secondary;
  }
}

.silent-danger {
  color: $secondary;

  &:hover {
    color: $danger;
  }
}

.text-md {
  font-size: .875rem;
}

.text-sm {
  font-size: .75rem;
}

.action-list {
  a {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.context-menu {
  color: $body-color;

  &:hover {
    color: $body-color;
    text-decoration: none;
  }
}

.sortable-ghost {
  opacity: 0.7;
}

.toastify.on.toast-success {
  @include nf;

  font-size: .75rem;
  border-radius: .5rem;
  border: 1px solid $success;
  background: $gray-100;
  color: $success;
}
