.sbl-list {
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid $gray-300;
  background-color: #fff;
}

.sbl-item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: .5rem 0;
  border-bottom: 1px solid $gray-300;
  background-color: $white;
}

.sbl-item__grip {
  margin-right: .25rem;
  color: $gray-700;

  &:hover {
    cursor: pointer;
  }
}

.sbl-item__grip--disabled {
  color: $gray-200;

  &:hover {
    cursor: not-allowed;
  }
}

.sbl-item__body {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}

.sbl-item__issue {
  display: flex;
  width: 50%;
  box-sizing: border-box;
  padding-right: .25rem;
}

.sbl-item__task {
  flex-grow: 1;
  box-sizing: border-box;
}

.sbi-issue__container {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  border: 1px solid $gray-300;
  border-radius: .25rem;
  padding: 0 .5rem;
}

.sbi-issue__main {
  padding: .5rem .25rem .5rem 0;
}

.sbi-issue__content {
  @include nf;
  font-size: .75rem;
  margin-bottom: 0;
}

.sbi-issue__ac-list {
  margin-top: .5rem;
  padding-left: 1rem;
}

.sbi-issue__ac-item {
  @include nf;
  margin-bottom: 0;
  font-size: .75rem;
  color: $gray-600;
}

.sbi-task__list {
  border-radius: .25rem;
  border: 1px solid $gray-300;
  margin-bottom: .25rem;

  &--empty {
    border: 0;
    margin: 0;
  }
}

.sbi-task {
  border-bottom: 1px solid $gray-300;

  &:last-child {
    border-bottom: 0;
  }
}

.sbi-task__main {
  display: flex;
  align-items: center;
  padding: .25rem .5rem;
}

.sbi-task__edit {
  padding: .25rem;
}

.sbi-task__status {
  font-size: 1.25rem;
  margin-right: .5rem;

  &--todo {
    color: $gray-300;
  }

  &--done {
    color: $success;
  }

  &--wait {
    color: $danger;
  }
}

.sbi-task__content {
  @include nf;
  margin-bottom: 0;
}

.sbi-task__actions {
  margin-left: auto;
}
