@import 'bs_vars';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import 'product_backlog';

body {
  padding-top: 3rem;
}

.avatar {
  width: 2.0rem;
  height: 2.0rem;
  border-radius: 1rem;
}

.navbar {
  padding: 2px 20px;
}

.navbar-brand {
  color: $secondary;
  opacity: .5;
  margin-right: 0;
}

.global-nav-product-toggle {
  color: $secondary;
  font-size: 1.25rem;
  font-weight: bold;

  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}

.sheet {
  padding: 1.25rem 3rem 2.5rem;
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 0 10px $gray-200;
}
