@import 'bs_vars';
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import 'mixins';
@import 'site_wide';
@import 'product';
@import 'product_backlog';

body {
  padding: 5rem 0;
}

.nf {
  @include nf;
}

.navbar {
  padding: 5px 20px;
  background-color: rgba(248,248,242, .7);
}

.navbar-brand {
  color: $secondary;
  font-weight: 900;
  opacity: .6;
  margin-right: 0;
}

.gnav__product-name {
  @include nf;
  font-size: 1rem;
  padding: .125rem 1.5rem;
  color: $white;
  background-color: $gray-700;
  border-radius: .5rem;
}

.gnav__toggle {
  @include nf;
  color: $secondary;

  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}

.page-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.silent-danger {
  color: $secondary;

  &:hover {
    color: $danger;
  }
}
