@import 'bs_vars';
@import '~bootstrap/scss/bootstrap';

@import 'product_backlog';

body {
  padding-top: 5rem;
}

.avatar {
  width: 2.0rem;
  height: 2.0rem;
  border-radius: 1rem;
}

.navbar {
  padding: 2px 20px;
  background-color: rgba(255,255,255,0.9);
}

.navbar-brand {
  color: $secondary;
  opacity: .5;
}

.global-nav-product-toggle {
  color: $secondary;
  font-size: 1.25rem;
  font-weight: bold;

  &:hover {
    color: $secondary;
    text-decoration: none;
  }
}
