<% pbl.scheduled.each do |release| %>
  <%= render partial: 'release', locals: { release: release } %>
<% end %>
<div class="pbl-list">
  <div class="pbl-list__header">
    <span class="pbl-list__title">
      Icebox
    </span>
  </div>
  <%= content_tag :div, data: sortable_pbl_options(current_product_id, nil) do %>
    <%= render partial: 'item', collection: pbl.pending %>
  <% end %>
</div>
