<%= form_with model: form, scope: :form, url: url, method: method, local: true do |f| %>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: 'form-control', autocomplete: 'off' %>
  </div>
  <%= f.button submit, class: 'btn btn-success', data: with_loader %>
<% end %>
