<% content_for(:member_role) { current_team_member.role } %>
<div class="row d-flex justify-content-center">
  <div class="col-lg-7 sheet">
    <div class="d-flex justify-content-center">
      <h1 class="page-title">
        <%=t '.title' %>
      </h1>
    </div>
    <div>
      <%= render partial: 'form', locals: { form: @form, url: release_path(params[:id]), method: :patch } %>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="d-flex mt-2">
    <%= link_to product_pbis_path(product_id: current_product.id), class: 'text-md' do %>
      <i class="fas fa-reply"></i>
      <%=t 'navs.back' %>
    <% end %>
  </div>
</div>
