<% content_for(:member_roles) { team_member_roles_label } %>
<div class="row d-flex justify-content-center">
  <div class="col-lg-9 sheet">
    <div class="d-flex justify-content-center">
      <h1 class="page-title">
        <%=t '.title' %>
      </h1>
    </div>
    <div>
      <%= render partial: 'form', locals: { form: @form, url: product_releases_path(current_product_id), method: :post, submit: t('navs.add') } %>
    </div>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="d-flex mt-2">
    <%= link_to product_backlog_path(product_id: current_product_id), class: 'text-md' do %>
      <i class="fas fa-reply"></i>
      <%=t 'navs.back' %>
    <% end %>
  </div>
</div>
