<nav class="navbar navbar-light fixed-top">
  <div style="width: 80px">
    <a class="navbar-brand" href="/">
      fridge
    </a>
  </div>
  <div class="dropdown">
    <a class="dropdown-toggle global-nav-product-toggle" href="#" id="dd-global-nav-products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Refrigerator</a>
    <div class="dropdown-menu" aria-labelledby="dd-globak-nav-products">
      <h6 class="dropdown-header"><%=t '.product_list' %></h6>
      <% current_user_products.each do |p| %>
        <%= link_to p.name, product_product_backlog_items_path(product_id: p.id), class: 'dropdown-item nf' %>
      <% end %>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#"><%=t '.new' %></a>
    </div>
  </div>
  <div style="width: 80px; text-align: right">
    <%= image_tag 'avatar', class: 'avatar' %>
  </div>
</nav>
