<nav class="navbar navbar-light">
  <div class="gnav__head">
    <a class="navbar-brand" href="/">fridge</a>
  </div>
  <% if current_product %>
    <%= render partial: 'product_menu', locals: { product: current_product } %>
  <% end %>
  <div class="gnav__tail d-flex align-items-center">
    <% if signed_in? %>
      <% if roles_label = content_for?(:member_roles) ? yield(:member_roles): nil %>
        <span class="gnav-tail__child team-member-role">
          <%= roles_label %>
        </span>
      <% end %>
      <%= render partial: 'user_menu', locals: { user: current_user } %>
    <% end -%>
  </div>
</nav>
