<nav class="navbar navbar-light fixed-top">
  <div style="width: 80px">
    <a class="navbar-brand" href="/">
      fridge
    </a>
  </div>
  <% if product_name = content_for?(:product_name) ? yield(:product_name) : nil %>
    <span class="gnav__product-name"><%= product_name %></span>
  <% end %>
  <div style="width: 80px; text-align: right">
    <a class="dropdown-toggle gnav__toggle" href="#" id="dd-global-nav-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="avatar">HS</span>
    </a>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#">
        <i class="fas fa-sign-out-alt"></i>
        <%=t '.sign_out' %>
      </a>
    </div>
  </div>
</nav>
