<nav class="navbar navbar-light mb-3">
  <div style="width: 80px">
    <a class="navbar-brand" href="/">
      fridge
    </a>
  </div>
  <% if product_name = content_for?(:product_name) ? yield(:product_name) : nil %>
    <span class="gnav__product-name"><%= product_name %></span>
  <% end %>
  <div style="width: 80px; text-align: right">
    <% if signed_in? %>
      <%= render partial: 'user_menu', locals: { avatar: current_user.avatar } %>
    <% end -%>
  </div>
</nav>
