<nav class="navbar navbar-light">
  <div class="gnav__head">
    <a class="navbar-brand" href="/">fridge</a>
  </div>
  <% if product_name = content_for?(:product_name) ? yield(:product_name) : nil %>
    <span class="gnav__product-name"><%= product_name %></span>
  <% end %>
  <div class="gnav__tail d-flex align-items-center">
    <% if member_role = content_for?(:member_role) ? yield(:member_role): nil %>
      <span class="gnav-tail__child team-member-role"><%=t member_role, scope: 'domain.team.role_short' %></span>
    <% end %>
    <% if signed_in? %>
      <%= render partial: 'user_menu', locals: { user: current_user } %>
    <% end -%>
  </div>
</nav>
