<a class="dropdown-toggle gnav__toggle" href="#" id="dd-global-nav-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <span class="avatar">
    <%= avatar.initials %>
  </span>
</a>
<div class="dropdown-menu dropdown-menu-right">
  <a class="dropdown-item" href="#">
    <i class="fas fa-sign-out-alt"></i>
    <%=t '.sign_out' %>
  </a>
</div>
