<div class="row d-flex justify-content-center">
  <h1 class="page-title">
    <%=t '.title' %>
  </h1>
</div>
<div class="row d-flex justify-content-center">
  <%= link_to new_product_path, class: 'btn btn-sm btn-outline-success btn-lean' do %>
    <i class="fa fa-plus"></i>
    <%=t '.create' %>
  <% end %>
</div>
<div class="row d-flex justify-content-center mt-3">
  <%= render partial: 'product', collection: @products %>
</div>
